<div class="stadium-info">
    <div class="row" ng-if="$ctrl.stadium.img">
        <div class="col stadium-img">
            <img ng-src="{{$ctrl.stadium.img}}" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h3>Setores disponíveis</h3>
            <div class="row" ng-repeat="sector in $ctrl.stadium.sectors">
                <div class="col">
                    <p>{{sector.name}}</p>
                </div>
                <div class="col">
                    <p><strong>{{sector.price | currency}}</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>