<div class="row">
    <div class="col">
        <h1>{{"checkin.index.title" | translate}}</h1>
        <checkin-form
            data-sectors="$ctrl.stadium.sectors"
            data-user-info="$ctrl.userPrincipal"
            data-on-save="$ctrl.saveCheckin"
        ></checkin-form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>{{"checkin.index.accesstransfer" | translate}}</h1>
        <access-form
            data-sectors="$ctrl.stadium.sectors"
            data-user-info="$ctrl.userPrincipal"
            data-on-save="$ctrl.saveAccess"
        ></access-form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>{{"checkin.index.accesspurchase" | translate}}</h1>
        <stadium-info data-stadium="$ctrl.stadium"></stadium-info>
    </div>
</div>

<div class="row">
    <div class="col">
        <access-purchase-form
            data-sectors="$ctrl.stadium.sectors"
            data-partners="$ctrl.partners"
        ></access-purchase-form>
    </div>
</div>

<div class="row" ng-if="$ctrl.products">
    <div class="col">
        <h1>{{"checkin.index.products" | translate}}</h1>
    </div>
</div>
<div class="row"  ng-if="$ctrl.products">
    <div class="col-sm-6 col-md-4 col-lg-3 products-cards" ng-repeat="item in $ctrl.products">
        <f2p-card-product
            data-product="item"
        ></f2p-card-product>
    </div>
</div>