@import "../../../styles/commons";

.card.card-news {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    .card-body {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .card-title {
        margin-bottom: .5em;
        padding-bottom: 0.2em;
        position: relative;
        text-transform: uppercase;
        &:after {
            background-color: $primary;
            bottom: 0;
            content: '';
            height: .15em;
            left: 0;
            position: absolute;
            width: 2em;
        }
    }
}

@include media-breakpoint-up(xs) {
    .card.card-news {
    }
}