<div class="card card-news" ng-class="$ctrl.item.cssClass">
    <img ng-src="{{$ctrl.item.image}}" alt="{{$ctrl.item.title}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{$ctrl.item.title}}</h5>
        <p class="card-text">{{$ctrl.item.subTitle}}</p>
        <a href="#" class="text-primary">Ver Notícia</a>
    </div>
</div>