@mixin hover-box-shadow() {
	box-shadow: 2px 3px 8px rgba(0,0,0,.2);
	transition: box-shadow .3s ease-in-out;
	&:hover {
		box-shadow: 7px 8px 13px rgba(0,0,0,.2);
	}
}
@mixin hover-inset-box-shadow($normal:-20px -30px 70px rgba(0,0,0,.15), $hover:-11px -21px 40px rgba(0, 0, 0, 0.1)) {
	box-shadow: $normal inset;
	transition: box-shadow .3s ease-in-out;
	&:hover {
		box-shadow: $hover inset;
	}
}
@mixin hyphenate($break: break-all, $hyphens:auto) {
	-ms-word-break: $break;
	word-break: $break;
	// Non standard for webkit
	word-break: break-word;

	-webkit-hyphens: $hyphens;
	-moz-hyphens: $hyphens;
	-ms-hyphens: $hyphens;
	hyphens: $hyphens;
}

@mixin placeholder($default, $focus) {
	&::-webkit-input-placeholder {
		color: $default;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $default;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: $default;
	}
	&:-ms-input-placeholder {
		color: $default;
	}
	&:focus {
		&::-webkit-input-placeholder {
			color: $focus;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: $focus;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
			color: $focus;
		}
		&:-ms-input-placeholder {
			color: $focus;
		}
	}
}
