@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$query-breakpoint-down: md;
$query-breakpoint-up: lg;

$app-content-bg: $light !default;

$header-bg: $dark !default;
$header-cl: $white !default;

$project_path: '/' !default;

$logo-url: $project_path + 'images/logo.png' !default;
$logo-height: 60px !default;
$logo-width: 180px !default;

$logo-mobi-url: $project_path + 'images/logo-short.png' !default;
$logo-mobi-height: 50px !default;
$logo-mobi-width: 50px !default;

$menu-bg: $dark !default;
$menu-cl: $white !default;

$footer-bg: $dark !default;
$footer-cl: $white !default;

$input-error-border-color: $warning !default;