@import "../../../UI/styles/commons";

.carousel-service {
    .owl-item {
        padding: 0 1em;
    }
    .item-service {
        border-radius: 5px;
        @include hover-box-shadow();
        display: flex;
        flex-direction: column;
        margin: 0 0 1em;
        overflow: hidden;
        text-align: center;
        h3 {
            align-items: center;
            background-color: $white;
            @include hover-inset-box-shadow(-10px -10px 40px rgba(0,0,0,0.15), -6px -6px 26px rgba(0, 0, 0, 0.1));
            display: flex;
            font-size: 1.1em;
            font-weight: 700;
            height: 5em;
            justify-content: center;
            margin: 0;
            text-transform: uppercase;
        }
        .bottom {
            background-color: $secondary;
            color: $white;
            font-size: .75em;
            font-weight: 500;
            margin: 0;
            padding: .6em .2em;
        }
    }
}

.carousel-news {
    .owl-item {
        padding: 0 1em;
    }
}

.carousel-cards {
    .owl-item {
        padding: 0 1.5em;
    }
    .item-cards {
        background: $dark;
        border-radius: 1.5em;
        color: $white;
        margin: 0 auto;
        max-width: 440px;
        padding: 2em 2em 2.5em;
        text-align: center;
        .logo {
            display: flex;
            height: 6.5em;
            margin-bottom: 1.5em;
            position: relative;
            img {
                height: auto;
                margin: auto auto 0;
                max-height: 100%;
                max-width: 100%;
                width: auto;
            }
        }
        h5 {
            font-weight: 400;
        }
        p {
            color: $gray-400;
        }
        .badge {
            border-radius: 2px 2px 0 0;
            bottom: 0;
            font-size: 1.1em;
            left: 50%;
            position: absolute;
            text-transform: uppercase;
            transform: translate(-50%, 0);
            &.active {
                background-color: $white;
                color: $success;
            }
            &.inactive {
                background-color: $gray-400;
                color: $white;
            }
        }
    }
}