<div class="row">
    <div class="col">
        <h1 class="text-center">{{"Planos e produtos adicionais" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <f2p-product-slide
            data-id="'home-product-slide'"
            data-css-class="''"
            data-products="$ctrl.products"
            data-btn-text="'globals.wantthis' | translate"
        ></f2p-product-slide>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1 class="text-center">{{"Meus serviços" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="carousel-service">
            <div owl-carousel class="owl-carousel" data-options="$ctrl.serviceCarouselOptions" ng-if="$ctrl.services">
                <div class="item-service" owl-carousel-item="" ng-repeat="item in $ctrl.services">
                    <h3>{{item.name}}</h3>
                    <p class="bottom" translate="globals.validuntil" translate-values="{ date: item.validity }"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1 class="text-center">{{"Últimas notícias" | translate}}</h1>
        <div class="carousel-news">
            <div owl-carousel class="owl-carousel" data-options="$ctrl.newsCarouselOptions" ng-if="$ctrl.news">
                <div
                    class="item-news"
                    owl-carousel-item=""
                    ng-repeat="item in $ctrl.news"
                    >
                    <f2p-card-news data-item="item"></f2p-card-news>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1 class="text-center">{{"Minhas carteirinhas" | translate}}</h1>
        <div class="carousel-cards">
            <div owl-carousel class="owl-carousel" data-options="$ctrl.cardsCarouselOptions" ng-if="$ctrl.cards">
                <div
                    class="item-cards"
                    owl-carousel-item=""
                    ng-repeat="item in $ctrl.cards"
                    >
                    <span class="logo">
                        <img ng-src="{{item.image}}" alt="" ng-if="item.image">
                    </span>
                    <h5>{{item.name}}</h5>
                    <p>{{item.info}}</p>
                    <span class="badge" ng-class="(item.active) ? 'active' : 'inactive'">{{(item.active) ? 'globals.active' : 'globals.inactive' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>