@import "../../UI/styles/commons";

.cart-icon {
    position: relative;
    .icon {
        font-size: 30px;
    }
    .qnt {
        font-size: 11px;
        position: absolute;
        right: -.8em;
        top: -.8em;
    }
}