@import "../../../UI/styles/commons";

.beneficios-cards {
    padding-bottom: map-get($spacers, 4);
    .card {
        background-color: transparent;
        border: 0;
        margin: 0 1em 1em;
        text-align: center;
        .discount {
            background-color: $header-bg;
            color: $header-cl;
            font-size: 1em;
            left: 50%;
            padding: .3em .5em;
            position: absolute;
            top: 0;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        .card-img-top {
            background-color: $white;
            border-radius: 2em;
            box-shadow: 2px 3px 8px rgba(0,0,0,.1);
            padding-top: 100%;
            position: relative;
            img {
                height: auto;
                left: 50%;
                max-width: 90%;
                max-height: 90%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: auto;
            }
        }
        .card-body {
            padding-left: 0;
            padding-right: 0;
        }
    }
}