<div class="row">
    <div class="col">
        <h1>{{"benefits.index.title" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 beneficios-cards" ng-repeat="item in $ctrl.itens">
        <div class="card">
            <span class="badge discount" translate="globals.discountof" translate-values="{ discount: item.discount }"></span>
            <div class="card-img-top">
                <img alt="" ng-src="{{item.image}}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{$ctrl.cities[item.city].name}}</p>
                <button class="btn btn-lg btn-primary">Acessar Benefício</button>
            </div>
        </div>
    </div>
</div>