@import "../../../styles/commons";
.menu-social {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    .item {
        font-size: 0;
        margin: 0 map-get($spacers, 1);
        a {
            color: inherit;
            &:hover {
                color: $secondary;
            }
        }
        .icon {
            font-size: 18px;
        }
    }
}
// Desktop
@include media-breakpoint-up(lg) {
    
}
// Mobile
@include media-breakpoint-down(md) {
    
}