<ul class="menu-social" ng-if="$ctrl.menu">
  <li class="item" ng-repeat="item in $ctrl.menu">
    <a ng-href="{{item.actionLink}}" target="_blank">
      <i class="icon" ng-class="item.visualClass"></i>
      {{item.label}}
    </a>
  </li>
</ul>