@import "../../styles/commons";

.form {
    margin-bottom: 3em;
    .form-group {
        position: relative;
        label {
            font-weight: 600;
            text-transform: uppercase;
            &.form-check-label {
                font-weight: 300;
                text-transform: none;
            }
        }
        .form-control {
            &:focus,
            &.focused {
                border-color: $input-focus-border-color;
                box-shadow: 0 1px 0 $input-focus-border-color;
            }
            &.ng-invalid {
                &.bg-dirty,
                &.ng-touched {
                    border-color: $input-error-border-color;
                    box-shadow: 0 1px 0 $input-error-border-color;
                    &:focus {
                        border-color: $input-focus-border-color;
                        box-shadow: 0 1px 0 $input-focus-border-color;
                    }
                }
            }
        }
        &.warning,
        &.showInputMsg {
            label {
                color: $warning;
            }
        }
    }
    .col-btn {
        .btn {
            height: 2.6em;
            margin: 0 .5em;
            &-default {
                border: 3px solid $primary;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.ui-validation-message {
    font-size: 0.6em;
    left: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    top: 0%;
    transition: all .3s ease-in-out;
    z-index: -1;
    &.show,
    .form-group.warning & ,
    .showInputMsg & {
        display: block;
        margin-top: .5em;
        opacity:1;
        padding: 1em 1em 1em 3.5em;
        top: 100%;
        z-index: 999;
    }

    // Layout
    background-color: $white;
    border: 1px solid $input-border-color;
    border-radius: $border-radius-lg;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
    color: $dark;
    padding: 0;
    max-width: 240px;
    min-width: 180px;
    .icon {
        color: $warning;
        font-size: 2em;
        left: .5rem;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
    &:after {
        background-color: $white;
        border: 1px solid $input-border-color;
        border-width: 1px 0 0 1px;
        bottom: 100%;
        content: '';
        height: 1em;
        left: 2.7em;
        margin-bottom: -.4em;
        position: absolute;
        transform: rotate(45deg);
        width: 1em;
    }
    .msg-list {
        font-size: 1.2em;
        p {
            font-size: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

