@import "../../../styles/commons";

.user-photo-trigger {
  text-align: center;
  .btn {
    margin-top: 1.5em;
  }
}

.user-photo-modal {
  .modal-body {
    padding: 0;
  }
  .modal-footer {
    label {
      margin-bottom: 0;
    }  
    .box {
      display: inline-block;
      position: relative;
      text-align: center;
      .inputfile {
        height: 100%;
        left: 0;
        max-height: 32px;
        margin: 0 auto;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        &:focus + label,
        &.has-focus + label {
          outline: 1px dotted $dark;
          outline: -webkit-focus-ring-color auto 5px;
        }
      }
      label {
        touch-action: manipulation;
      }
    }
  }
}

.foto {
  * {
    outline: 0;
  }
  .alert {
    border-radius: 0;
    margin: 0;
  }
  .webcam-live {
    display: block;
    height: auto;
    transform: scaleX(-1);
    width: 100%;
  }
}

.fotoWrapper {
  background-color: $secondary;
  padding-bottom: 13px;
  position: relative;
  .rotate-image {
    bottom: 0;
    color: $white !important;
    cursor: pointer;
    float: left;
    font-size: 23px;
    margin: -25px 0 0 20px;
    padding: 6px 0px;
  }
}

/** CROPPIE **/
.croppie-container{
  display: block;
  .cr-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    min-width: 100%;
    min-height: 100%;
  }
  .cr-boundary {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
  }
  .cr-viewport {
    position: absolute;
    border: 2px solid #fff;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 0 899px rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  .cr-vp-circle {
    border-radius: 50%;
  }
  .cr-overlay {
    z-index: 1;
    position: absolute;
    cursor: move;
  }
  .cr-slider-wrap {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    width: calc(100% - 120px);
  }
}

.croppie-result {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
  }
}

/**
 * STYLING RANGE INPUT
 *
 * http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html 
 */

.cr-slider {
  -webkit-appearance: none; /*removes default webkit styles*/
  /*border: 1px solid white; *//*fix for FF unable to apply focus style bug */
  width: 300px; /*required for proper track sizing in FF*/
  max-width: 100%;
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: $white;
    border: 0;
    border-radius: 3px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: $white;
    margin-top: -10px;
  }
  &:focus {
    outline: none;
    /*
    &::-webkit-slider-runnable-track {
      background: #ccc;
    }
    */
  }
  &::-moz-range-track {
    width: 100%;
    height: 3px;
    background: $white;
    border: 0;
    border-radius: 3px;
  }
  &::-moz-range-thumb {
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: $white;
    margin-top: -10px;
  }
  &:-moz-focusring {
    outline: 1px solid $white;
    outline-offset: -1px;
  }
  &::-ms-track {
    width: 100%;
    height: 5px;
    background: transparent;/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    border-color: transparent;/*leave room for the larger thumb to overflow with a transparent border */
    border-width: 6px 0;
    color: transparent;/*remove default tick marks*/
  }
  /*hide the outline behind the border*/
  &::-ms-fill-lower {
    background: $white;
    border-radius: 10px;
  }
  &::-ms-fill-upper {
    background: $white;
    border-radius: 10px;
  }
  &::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
  }
  &:focus {
    &::-ms-fill-lower {
      background: $white;
    }
    &::-ms-fill-upper {
      background: $white;
    }
  }
}

@media (max-width: 500px) {
  .user-photo-modal {
    margin: 0 auto;
    width: 318px;
    .modal-footer {
      .btn {
        span {
          display: none;
        }
      }
    }
  }
}