<div class="user-photo-trigger">
  <div class="thumbnail">
    <f2p-user-thumbnail
        data-has-img="$ctrl.userPhoto"
        data-img="$ctrl.userPhoto"
    ></f2p-user-thumbnail>
  </div>

  <button ng-if="!$ctrl.mobilecheck" type="button" class="btn btn-primary" ng-click="$ctrl.camLive()" data-toggle="modal" data-target="#userPhotoModal">
    {{'account.changepicture'|translate}}
  </button>

  <label for="file-1" ng-if="$ctrl.mobilecheck" class="btn btn-primary" ng-click="$ctrl.camLive();" data-toggle="modal" data-target="#userPhotoModal">
      {{'account.changepicture'|translate}}
  </label>
</div>

<div class="modal fade user-photo-modal" id="userPhotoModal" tabindex="-1" role="dialog" aria-labelledby="userPhotoModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userPhotoModalTitle">{{'user.photomodal.title'|translate}}</h5>
        <button ng-click="$ctrl.stopCamera()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div ng-if="$ctrl.startedCamera" class="foto">
          <webcam ng-if="$ctrl.showWebcam"
            on-error="$ctrl.onError(err)"
            on-streaming="$ctrl.onSuccess()"
            channel="$ctrl.myChannel">
            <div class="alert-list" ng-if="$ctrl.webcamError || $ctrl.mobilecheck">
              <div class="alert alert-danger" ng-show="$ctrl.webcamError && !$ctrl.mobilecheck">
                <span class="icon fas fa-skull-crossbones"></span>
                <span class="msg">{{'user.photomodal.camerror'|translate}}</span>
              </div>
              <div class="alert alert-warning" ng-show="$ctrl.mobilecheck">
                <span class="icon fas fa-exclamation-circle"></span>
                <span class="msg">{{'user.photomodal.loadfromfile'|translate}}</span>
              </div>
            </div>
          </webcam>

          <div class="demos" ng-show="$ctrl.showDemos">
            <canvas id="snapshot" width="498" height="373"></canvas>
          </div>

          <div ng-show="!$ctrl.showWebcam" class="fotoWrapper">
            <ng-croppie
              src="$ctrl.inputImage"
              ng-model='$ctrl.outputImage'
              update='$ctrl.onUpdate'
              boundry="$ctrl.boundry"
              enforce-boundary="true"
              viewport="$ctrl.viewport"
              mousezoom="true"
              zoom="true"
              orientation="true"
              rotation="$ctrl.rotation"
              type="square">
            </ng-croppie>
            <a class="fas fa-redo-alt rotate-image" ng-click="$ctrl.rotateImageL()"></a>
            <a class="fas fa-undo-alt rotate-image" ng-click="$ctrl.rotateImageR()"></a>
            <div class="col-sm-4" hidden>
              <img class="img-circle img-responsive" id="preview" ng-src="{{$ctrl.outputImage}}" alt="">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-light" ng-click="$ctrl.stopCamera()" data-dismiss="modal">Cancelar</button>
        <div class="box">
          <input type="file" class="inputfile inputfile-1" id="file-1" ng-model="$ctrl.inputImage" file-select="data"
          file-loaded="$ctrl.myLoaded()" accept='image/*'>
          <label class="btn btn-success" for="file-1">
            <i class="fas fa-upload"></i>
            <span>Carregar foto&hellip;</span>
          </label>
        </div>
        <button class="btn btn-primary"
          ng-click="$ctrl.makeSnapshot()"
          ng-disabled="!$ctrl.cameraLoaded"
          ng-if="!$ctrl.mobilecheck">
          <i class="fas fa-camera"></i>
          <span>{{($ctrl.showWebcam ? 'globals.takepicture' : 'globals.anotherpicture')|translate}}</span>
        </button>
        <button class="btn btn-primary"
          ng-show="!$ctrl.showWebcam"
          ng-click="$ctrl.save()">{{'globals.save'|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
