<div class="form-group" ng-class="$ctrl.containerClass">
    <label ng-if="$ctrl.label" ng-class="$ctrl.labelClass">{{$ctrl.label || '&nbsp;'}}</label>
    
    <div class="form-check">
        <label class="form-check-label">
            <input 
                type="checkbox" 
                id="{{$ctrl.name}}"
                name="{{$ctrl.name}}"
                ng-model="$ctrl.model"
                class="form-check-input"
                ng-class="$ctrl.inputClass">
            {{$ctrl.description}}
        </label>
    </div>
</div>