<form ng-show="$ctrl.showNew || !$ctrl.addressData || !$ctrl.addressData.length" class="form" name="formNewAddress" ng-submit="$ctrl.addAddress()" novalidate autocomplete="off">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <f2p-input-text
                        data-model="$ctrl.newItem.cep"
                        data-name="newAddressCep"
                        data-label="{{'globals.types.cep.label' | translate}}"
                        data-placeholder="{{'globals.types.cep.placeholder' | translate}}"
                        data-input-type="cep"
                        data-required="true"
                    ></f2p-input-text>
                </div>
                <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                    <label class="d-block">&nbsp;</label>
                    <button class="btn btn-primary" ng-click="$ctrl.getAddressByCep($ctrl.newItem.cep, $ctrl.newItem)" type="button">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4 col-sm-4 col-md-2">
                    <f2p-input-select
                        data-model="$ctrl.newItem.type"
                        data-name="newAddressType"
                        data-label="Tipo"
                        data-required="true"
                        data-options="$ctrl.addressTypes"
                    ></f2p-input-select>
                </div>
        
                <div class="col-8 col-sm-8 col-md-5">
                    <f2p-input-text
                        data-model="$ctrl.newItem.address"
                        data-name="newAddressAddress"
                        data-label="{{'globals.types.address.label' | translate}}"
                        data-placeholder="{{'globals.types.address.placeholder' | translate}}"
                        data-input-type="text"
                        data-required="true"
                        data-readonly="$ctrl.newItem.cepFound"
                    ></f2p-input-text>
                </div>

                <div class="col-4 col-sm-3 col-md-2">
                    <f2p-input-text
                        data-model="$ctrl.newItem.number"
                        data-name="newAddressNumber"
                        data-label="{{'globals.types.number.label' | translate}}"
                        data-placeholder="{{'globals.types.number.placeholder' | translate}}"
                        data-input-type="text"
                        data-required="true"
                    ></f2p-input-text>
                </div>

                <div class="col-8 col-sm-5 col-md-3">
                    <f2p-input-text
                        data-model="$ctrl.newItem.complement"
                        data-name="newAddressComplement"
                        data-label="{{'globals.types.complement.label' | translate}}"
                        data-placeholder="{{'globals.types.complement.placeholder' | translate}}"
                        data-input-type="text"
                        data-required="true"
                    ></f2p-input-text>
                </div>

                <div class="col-12 col-sm-4">
                    <f2p-input-text
                        data-model="$ctrl.newItem.neighborhood"
                        data-name="newAddressNeighborhood"
                        data-label="{{'globals.types.neighborhood.label' | translate}}"
                        data-placeholder="{{'globals.types.neighborhood.placeholder' | translate}}"
                        data-input-type="text"
                        data-required="true"
                        data-readonly="$ctrl.newItem.cepFound"
                    ></f2p-input-text>
                </div>

                <div class="col-12 col-sm-5 col-md-3">
                    <f2p-input-text
                        data-model="$ctrl.newItem.city"
                        data-name="newAddressCity"
                        data-label="{{'globals.types.city.label' | translate}}"
                        data-placeholder="{{'globals.types.city.placeholder' | translate}}"
                        data-input-type="text"
                        data-required="true"
                        data-readonly="$ctrl.newItem.cepFound"
                    ></f2p-input-text>
                </div>


                <div class="col-4 col-sm-2">
                    <f2p-input-text
                        data-model="$ctrl.newItem.state"
                        data-name="newAddressState"
                        data-label="{{'globals.types.state.label' | translate}}"
                        data-placeholder="{{'globals.types.state.placeholder' | translate}}"
                        data-input-type="text"
                        data-required="true"
                        data-min-length="2"
                        data-max-length="2"
                        data-readonly="$ctrl.newItem.cepFound"
                    ></f2p-input-text>
                </div>

                <div class="col-8 col-sm-5 col-md-3">
                    <f2p-input-text
                        data-model="$ctrl.newItem.country"
                        data-name="newAddressCountry"
                        data-label="{{'globals.types.country.label' | translate}}"
                        data-placeholder="{{'globals.types.country.placeholder' | translate}}"
                        data-input-type="text"
                        data-required="true"
                    ></f2p-input-text>
                </div>
            </div>
            <div class="row">
                <div class="col col-btn">
                    <button class="btn btn-default" type="button" ng-click="$ctrl.cancelNewAddress()">Cancelar</button>
                    <f2p-submit-button
                        data-css-class="btn btn-primary"
                        data-label="Salvar"
                    ></f2p-submit-button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</form>

<form class="form" name="formAddress" ng-submit="$ctrl.save()" novalidate autocomplete="off">
    <div class="row" ng-repeat="address in $ctrl.addressData">
        <div class="col-10 col-sm-11">
                    <div class="row">
                        <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <f2p-input-text
                                data-model="address.postalCode"
                                data-name="{{'address['+address.id+'].cep'}}"
                                data-label="{{'globals.types.cep.label' | translate}}"
                                data-placeholder="{{'globals.types.cep.placeholder' | translate}}"
                                data-input-type="cep"
                                data-required="true"
                            ></f2p-input-text>
                        </div>
                        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                            <label class="d-block">&nbsp;</label>
                            <button class="btn btn-primary" ng-click="$ctrl.getAddressByCep(address.postalCode, address)" type="button">Buscar</button>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4 col-sm-4 col-md-2">
                                    <f2p-input-select
                                        data-model="address.type"
                                        data-name="{{'address['+address.id+'].type'}}"
                                        data-label="Tipo"
                                        data-required="true"
                                        data-options="$ctrl.addressTypes"
                                    ></f2p-input-select>
                                </div>
                        
                                <div class="col-8 col-sm-8 col-md-5">
                                    <f2p-input-text
                                        data-model="address.address"
                                        data-name="{{'address['+address.id+'].address'}}"
                                        data-label="{{'globals.types.address.label' | translate}}"
                                        data-placeholder="{{'globals.types.address.placeholder' | translate}}"
                                        data-input-type="text"
                                        data-required="true"
                                        data-readonly="address.cepFound"
                                    ></f2p-input-text>
                                </div>
                
                                <div class="col-4 col-sm-3 col-md-2">
                                    <f2p-input-text
                                        data-model="address.number"
                                        data-name="{{'address['+address.id+'].number'}}"
                                        data-label="{{'globals.types.number.label' | translate}}"
                                        data-placeholder="{{'globals.types.number.placeholder' | translate}}"
                                        data-input-type="text"
                                        data-required="true"
                                    ></f2p-input-text>
                                </div>
                
                                <div class="col-8 col-sm-5 col-md-3">
                                    <f2p-input-text
                                        data-model="address.complement"
                                        data-name="{{'address['+address.id+'].complement'}}"
                                        data-label="{{'globals.types.complement.label' | translate}}"
                                        data-placeholder="{{'globals.types.complement.placeholder' | translate}}"
                                        data-input-type="text"
                                        data-required="true"
                                    ></f2p-input-text>
                                </div>
                
                                <div class="col-12 col-sm-4">
                                    <f2p-input-text
                                        data-model="address.neighborhood"
                                        data-name="{{'address['+address.id+'].neighborhood'}}"
                                        data-label="{{'globals.types.neighborhood.label' | translate}}"
                                        data-placeholder="{{'globals.types.neighborhood.placeholder' | translate}}"
                                        data-input-type="text"
                                        data-required="true"
                                        data-readonly="address.cepFound"
                                    ></f2p-input-text>
                                </div>
                
                                <div class="col-12 col-sm-5 col-md-3">
                                    <f2p-input-text
                                        data-model="address.city"
                                        data-name="{{'address['+address.id+'].city'}}"
                                        data-label="{{'globals.types.city.label' | translate}}"
                                        data-placeholder="{{'globals.types.city.placeholder' | translate}}"
                                        data-input-type="text"
                                        data-required="true"
                                        data-readonly="address.cepFound"
                                    ></f2p-input-text>
                                </div>
                
                
                                <div class="col-4 col-sm-2">
                                    <f2p-input-text
                                        data-model="address.state"
                                        data-name="{{'address['+address.id+'].state'}}"
                                        data-label="{{'globals.types.state.label' | translate}}"
                                        data-placeholder="{{'globals.types.state.placeholder' | translate}}"
                                        data-input-type="text"
                                        data-required="true"
                                        data-min-length="2"
                                        data-max-length="2"
                                        data-readonly="address.cepFound"
                                    ></f2p-input-text>
                                </div>
                
                                <div class="col-8 col-sm-5 col-md-3">
                                    <f2p-input-text
                                        data-model="address.country"
                                        data-name="{{'address['+address.id+'].country'}}"
                                        data-label="{{'globals.types.country.label' | translate}}"
                                        data-placeholder="{{'globals.types.country.placeholder' | translate}}"
                                        data-input-type="text"
                                        data-required="true"
                                    ></f2p-input-text>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
        </div>
        <div class="col px-0">
            <label class="d-block">&nbsp;</label>
            <button type="button" class="btn btn-danger mx-0 btn-icon" ng-click="$ctrl.deleteAddress(address, $index)"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
    <div class="row" ng-show="$ctrl.addressData && $ctrl.addressData.length">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-btn">
            <button type="button" ng-click="$ctrl.cancel()" class="btn btn-default">Cancelar</button>
            <f2p-submit-button
                data-label="Enviar"
            ></f2p-submit-button>
        </div>
    </div>
</form>