<div class="card card-service" ng-class="$ctrl.cssClass">
    <div class="card-header text-center" ng-style="{'background-image': 'url('+$ctrl.service.image+')'}">
        <h5 class="card-title">{{$ctrl.service.name}}</h5>
        <p class="card-text">{{$ctrl.service.value}}/{{$ctrl.service.period}}</p>
        <button class="btn btn-sm btn-primary" ng-click="$ctrl.addToCart(item)">{{'globals.addtocart'|translate}}</button>
    </div>
    <div class="card-body">
        <p class="card-text">{{$ctrl.service.resume}}</p>
    </div>
</div>