@import "../../../styles/commons";

.card.card-service {
    border: 0;
    @include hover-box-shadow();
    overflow: hidden;
    .card-header {
        background: $dark center no-repeat;
        background-size: cover;
        border: 0;
        color: $white;
        position: relative;
        * {
            position: relative;
            z-index: 1;
        }
        &:after {
            background-color: #000;
            content: '';
            height: 100%;
            left: 0;
            opacity: 0.7;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 0;
        }
        .card-title {
            font-size: 1.6em;
            text-transform: uppercase;
            .first-word {
                font-weight: 300;
            }
        }
        .card-text {
            font-size: 1.1em;
            font-weight: 700;
        }
    }
}

@include media-breakpoint-up(xs) {
    .card.card-service {
        height: 100%;
    }
}