<form class="form" name="formCheckin" ng-submit="$ctrl.save()" novalidate autocomplete="off">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <div class="form-group">
                <label for="">Assinatura</label>
                <div>{{$ctrl.userInfo.subscription.name}}</div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="">Responsável</label>
                <div>{{$ctrl.userInfo.name}}</div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <f2p-input-select
                data-model="$ctrl.sector"
                data-name="sectorCheckin"
                data-label="Setor"
                data-required="true"
                data-options="$ctrl.sectors"
            ></f2p-input-select>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <f2p-input-select
                data-model="$ctrl.access"
                data-name="accessCheckin"
                data-label="Formas de acesso"
                data-required="true"
                data-options="$ctrl.userInfo.accessWays"
            ></f2p-input-select>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-1 col-btn">
            <label class="d-none d-md-block">&nbsp;</label>
            <f2p-submit-button
                data-label="Check-in"
            ></f2p-submit-button>
        </div>
    </div>
</form>