<div class="card card-product" ng-class="$ctrl.cssClass">
    <div class="card-header text-center" ng-style="{'background-image': 'url('+$ctrl.product.image+')'}">
        <h5 class="card-title">{{$ctrl.product.name}}</h5>
        <p class="card-text">{{$ctrl.product.value}}/{{$ctrl.product.period}}</p>
        <button class="btn btn-sm btn-primary" ng-click="$ctrl.addToCart(item)">{{'globals.addtocart'|translate}}</button>
    </div>
    <div class="card-body">
        <p class="card-text">{{$ctrl.product.resume}}</p>
    </div>
</div>