<div class="row">
    <div class="col">
        <h1>{{"account.index.title" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Dados Pessoais</h2>
        <personal-form
            data-user-id="$ctrl.user.id"
            data-user-img="$ctrl.user.userImg"
            data-personal-data="$ctrl.user.personalData"
            data-save="$ctrl.savePersonalData"
            data-cancel="$ctrl.cancelPersonalData"
        ></personal-form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Alteração de Senha</h2>
        <password-form
            data-user-id="$ctrl.user.id"
            data-save="$ctrl.savePassword"
            data-cancel="$ctrl.cancelPassword"
        ></password-form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Contatos <button type="button" class="btn btn-sm btn-success" ng-click="$ctrl.showNewContact = ($ctrl.showNewContact) ? false : true">Add Contato</button></h2>
        <contact-form 
            data-user-id="$ctrl.user.id"
            data-contacts="$ctrl.user.scheduleData"
            data-save="$ctrl.saveContacts"
            data-add="$ctrl.addContact"
            data-delete="$ctrl.deleteContact"
            data-cancel="$ctrl.cancelContacts"
            data-show-new="$ctrl.showNewContact"
        ></contact-form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Endereços <button type="button" class="btn btn-sm btn-success" ng-click="$ctrl.showNewAddress = ($ctrl.showNewAddress) ? false : true">Add Endereço</button></h2>
        <address-form
            data-user-id="$ctrl.user.id"
            data-addresses="$ctrl.user.addressData"
            data-save="$ctrl.saveAddresses"
            data-add="$ctrl.addAddress"
            data-delete="$ctrl.deleteAddress"
            data-cancel="$ctrl.cancelAddresses"
            data-show-new="$ctrl.showNewAddress"
        ></address-form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Documentação</h2>
        <div class="row">
            <div class="col-sm-6 col-xs-12">Identificação</div>
            <div class="col-sm-6 col-xs-12">Comprovante de Residência</div>
        </div>
    </div>
</div>