<div class="row">
    <div class="col">
        <h1>{{"financial.index.title" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col" ng-repeat="method in $ctrl.paymentMethods">
        <pre>{{method|json}}</pre>
    </div>
</div>