<form class="form" name="formUserPersonal" ng-submit="$ctrl.onSave()" novalidate autocomplete="off">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <f2p-user-photo
                data-user-photo="$ctrl.userImg"
                data-user-id="$ctrl.userId"
            ></f2p-user-photo>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9">
            <div class="row">
                <div class="col-12">
                    <f2p-input-text
                        data-model="$ctrl.userData.name"
                        data-name="name"
                        data-label="Nome"
                        data-placeholder="Nome completo"
                        data-required="true"
                        data-input-type="text"
                    ></f2p-input-text>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <f2p-input-text
                        data-model="$ctrl.userData.email"
                        data-name="email"
                        data-label="E-mail principal"
                        data-placeholder="seunome@dominio.com"
                        data-required="true"
                        data-input-type="email"
                    ></f2p-input-text>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <f2p-input-text
                        data-model="$ctrl.userData.email2"
                        data-name="email2"
                        data-label="E-mail secundário"
                        data-placeholder="seunome@dominio.com"
                        data-input-type="email"
                    ></f2p-input-text>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <f2p-input-text
                data-model="$ctrl.userData.cpf"
                data-name="cpf"
                data-label="CPF"
                data-placeholder="xxx.xxx.xxx-xx"
                data-required="true"
                data-input-type="cpf"
            ></f2p-input-text>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <f2p-input-text
                data-model="$ctrl.userData.rg"
                data-name="rg"
                data-label="RG"
                data-placeholder="xxxxxxxxx"
                data-required="true"
                data-input-type="text"
            ></f2p-input-text>
        </div>
        
        <div class="col-6 col-sm-5 col-md-4 col-lg-3">
            <f2p-input-text
                data-model="$ctrl.userData.birthDate"
                data-name="birthDate"
                data-label="Data de Nasc."
                data-placeholder="dd/mm/aaaa"
                data-required="true"
                data-input-type="date"
            ></f2p-input-text>
        </div>

        <div class="col-6 col-sm-3 col-md-4 col-lg-2">
            <f2p-input-select
                data-model="$ctrl.userGenre"
                data-name="genre"
                data-label="Sexo"
                data-required="true"
                data-options="$ctrl.genreList"
            ></f2p-input-select>
        </div>

        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <f2p-input-select
                data-model="$ctrl.userNationality"
                data-name="nationality"
                data-label="Nacionalidade"
                data-required="true"
                data-options="$ctrl.nationalityList"
            ></f2p-input-select>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <f2p-input-select
                data-model="$ctrl.userMarritialStatus"
                data-name="marritialStatus"
                data-label="Estado Civil"
                data-required="true"
                data-options="$ctrl.marritialStatusList"
            ></f2p-input-select>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <f2p-input-select
                data-model="$ctrl.userProfession"
                data-name="profession"
                data-label="Profissão"
                data-required="true"
                data-options="$ctrl.professionList"
            ></f2p-input-select>
        </div>
        
        <div class="col-6 col-sm-5 col-md-3 col-lg-3">
            <f2p-input-select
                data-model="$ctrl.userEducation"
                data-name="education"
                data-label="Educação"
                data-required="true"
                data-options="$ctrl.educationList"
            ></f2p-input-select>
        </div>

        <div class="col-6 col-sm-3 col-md-2 col-lg-2">
            <f2p-input-text
                data-model="$ctrl.userData.childrenNumber"
                data-name="children"
                data-label="Filhos"
                data-placeholder="Digite a quantidade"
                data-required="true"
                data-input-type="number"
                data-max-length="2"
            ></f2p-input-text>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <f2p-input-select
                data-model="$ctrl.userFamilyIncome"
                data-name="familyIncome"
                data-label="Renda Familiar"
                data-required="true"
                data-options="$ctrl.familyIncomeList"
            ></f2p-input-select>
        </div>

        <div class="col-12 col-sm-6 col-md-5 col-lg-4">
            <f2p-input-select
                data-model="$ctrl.userGameFrequency"
                data-name="gameFrequency"
                data-label="Frequência de Jogos"
                data-required="true"
                data-options="$ctrl.gameFrequencyList"
            ></f2p-input-select>
        </div>

        <div class="col-12 col-sm-6 col-md-5 col-lg-4">
            <f2p-input-select
                data-model="$ctrl.userInterest"
                data-name="interest"
                data-label="Maior interesse no programa"
                data-required="true"
                data-options="$ctrl.interestList"
            ></f2p-input-select>
        </div>
    </div>

    <div class="row">
        <div class="col col-btn">
            <button type="button" ng-click="$ctrl.onCancel()" class="btn btn-default">Cancelar</button>
            <f2p-submit-button
                data-label="Enviar"
            ></f2p-submit-button>
        </div>
    </div>

</form>