@import "../../../styles/commons";
.menu {
    background-color: $menu-bg;
    color: $menu-cl;
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $menu-cl;
                cursor: pointer;
                font-weight: 300;
                opacity: .7;
                text-transform: lowercase;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='"+ transparentize($menu-cl, .3) +"' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        color: $menu-cl;
    }
}
@include media-breakpoint-up(lg) {
    .menu {
        .navbar-nav {
            .nav-item {
                &:first-child {
                    .nav-link {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
            &.nav-fill {
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .menu {
        height: 100%;
        &.navbar {
            justify-content: center;
            padding: 0;
            text-align: center;
            width: 50px;
        }
        .container {
            flex-direction: column;
        }
        .navbar-toggler {
            border: 0;
            padding: 0;
        }
            
        .navbar-collapse {
            background-color: $menu-bg;
            left: 0px;
            margin: 0px;
            max-height: calc(100vh - 65px);
            padding: map-get($spacers, 2) map-get($spacers, 3);
            position: absolute;
            overflow-y: auto;
            top: 100%;
            width: 100vw;
        }
        
        .navbar-nav {
            &.nav-fill {
                .nav-item {
                    text-align: left;
                }
            }
        }
    }
}
