<nav class="navbar navbar-expand-lg menu" ng-if="$ctrl.menu">
  <div class="container">
    <button id="toggle-{{$ctrl.cssId}}" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#{{$ctrl.cssId}}" aria-controls="{{$ctrl.cssId}}" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="{{$ctrl.cssId}}">
      <ul class="navbar-nav nav nav-fill">
        <li class="nav-item" ng-repeat="item in $ctrl.menu.itens"
          ng-class="{'dropdown': item.subItems && item.subItems.length > 0}">
          <i ng-class="item.visualClass" ng-if="$ctrl.showIcons"></i>
          <a class="nav-link"
            ng-click="(item.subItems && item.subItems.length > 0) ? return : $ctrl.getMenuLink(item.actionLink)"
            ng-class="{'dropdown-toggle': item.subItems && item.subItems.length > 0}"
            id="dropdown{{$ctrl.cssId+$index}}" role="button" 
            data-toggle="{{(item.subItems && item.subItems.length > 0) ? 'dropdown' : ''}}"
            aria-haspopup="true" aria-expanded="false">
            {{item.label}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown{{$ctrl.cssId+$index}}" ng-if="item.subItems && item.subItems.length > 0">
            <a class="dropdown-item" ng-click="$ctrl.getMenuLink(subItem.actionLink)" ng-repeat="subItem in item.subItems">
              <i ng-class="subItem.visualClass" ng-if="$ctrl.showIcons"></i>
              {{subItem.label}}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>