<div class="row">
    <div class="col">
        <h1>{{"games.index.title" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 games-cards" ng-repeat="item in $ctrl.itens">
        <f2p-card-game data-game="item"></f2p-card-game>
    </div>
</div>