<div class="product-slide-component" ng-class="$ctrl.cssClass">

    <div owl-carousel class="owl-carousel" data-options="$ctrl.options">
        <div owl-carousel-item="" ng-repeat="item in $ctrl.products">
            
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-6">
                    <div class="thumbnail">
                        <img ng-src="{{item.productImage}}" alt="{{item.productName}}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 info">
                    <h2>
                        <span class="badge badge-dark">{{item.productNick}}</span>
                        <span>{{item.productName}}</span>
                    </h2>
                    <p>{{item.productDescription}}</p>
                    <p class="price">{{item.productPrice}}</p>
                    <button class="btn btn-lg btn-primary" ng-click="$ctrl.addToCart(item)">{{$ctrl.btnText}}</button>
                </div>
            </div>

        </div>
    </div>
</div>