@import '../../../styles/commons';

.product-slide-component {
    padding: 0 0 1em;
    .thumbnail {
        padding-top: 100%;
        position: relative;
        text-align: center;
        width: 100%;
        img {
            display: block;
            height: auto;
            left: 50%;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            z-index: 2;
        }
        &:before {
            background-color: $dark;
            border-radius: 50%;
            content: '';
            padding-top: 90%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            z-index: 1;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 3em;
        h2 {
            align-items: center;
            display: flex;
            .badge {
                font-size: 1em;
                margin-right: .5em;
                padding: .6em .4em;
            }
        }
        .price {
            color: $primary;
            font-size: 2em;
            font-weight: 700;
        }
        .btn {
            width: min-content;
        }
    }
    .owl-dots {
        padding-top: 3em;
    }
}