<div class="row">
    <div class="col">
        <h1>{{"chairs.index.title" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{'chairs.printedname'|translate}}</th>
                    <th scope="col">{{'chairs.sector'|translate}}</th>
                    <th scope="col">{{'chairs.chairs'|translate}}</th>
                    <th scope="col">{{'chairs.issuedate'|translate}}</th>
                    <th scope="col">{{'chairs.validitydate'|translate}}</th>
                    <th scope="col">{{'chairs.status'|translate}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.itens">
                    <th scope="row">{{item.id}}</td>
                    <td>{{item.recordName}}</td>
                    <td>{{item.sector}}-{{item.subSector}}</td>
                    <td>{{item.row}}-{{item.chairNumber}}</td>
                    <td>{{item.issueDate | date:('globals.dates.short'|translate)}}</td>
                    <td>{{item.validityDate | date:('globals.dates.short'|translate)}}</td>
                    <td>{{(item.active) ? 'globals.active' : 'globals.inactive' | translate}}</td>
                    <td><button class="btn btn-primary btn-sm">{{'chairs.certificate'|translate}}</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>