<div class="row">
    <div class="col">
        <h1>{{"store.index.title" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 loja-de-vantagens-cards" ng-repeat="item in $ctrl.itens">
        <f2p-card-product
            data-product="item"
        ></f2p-card-product>
    </div>
</div>

