<div class="form-group" ng-class="$ctrl.containerClass" >
    <label for="{{$ctrl.name}}" ng-if="$ctrl.label" ng-class="$ctrl.labelClass">{{$ctrl.label}}</label>
    <input
        type="{{$ctrl.type}}"
        name="{{$ctrl.name}}"
        class="form-control"
        ng-class="$ctrl.inputClass"
        id="{{$ctrl.name}}"
        placeholder="{{$ctrl.placeholder}}"
        ng-required="$ctrl.required"
        input-behavior
        ng-model="$ctrl.model"
        data-input-type="{{$ctrl.inputType}}"
        ng-minlength="{{$ctrl.minLength}}"
        ng-maxlength="{{$ctrl.maxLength}}"
        autocomplete="{{$ctrl.autocomplete}}"
        data-compare-with="$ctrl.compareWith"
        ng-readonly="$ctrl.readonly" />
    <div
        class="ui-validation-message"
        ng-messages="$ctrl.form[$ctrl.name].$error" 
        ng-if="$ctrl.form[$ctrl.name].$touched">
        <i class="fas fa-exclamation-circle icon"></i>
        <div ng-messages-include="templates/messages.html"></div>
    </div>
</div>