@import '../../styles/commons';
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
// Owl Carousel - Core
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  // position relative and z-index fix webkit rendering fonts issue
  position: relative;
  z-index: 1;
  .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden; // fix firefox animation glitch */
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; 
    }
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-wrapper,
  .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); 
  }
  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; 
  }
  img {
    display: block;
    width: 100%;
  }
  .owl-nav {
    &.disabled {
      display: none;
    }
    .owl-prev,
    .owl-next {
      cursor: pointer;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      top: calc(50% - 3em);
      &.disabled {
        opacity: .5
      }
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
  .owl-dots {
    padding: 1em .25em 1.5em;
    text-align: center;
    &.disabled {
      display: none;
    }
    .owl-dot {
      background-color: $dark;
      border-radius: 50%;
      height: 10px;
      margin: 0 5px;
      opacity: 0.5;
      width: 10px;
      &.active {
        opacity: 1;
      }
    }  
  }
  .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  button {
    &.owl-prev,
    &.owl-next,
    &.owl-dot {
      background: none;
      border: none;
      color: inherit;
      font: inherit;
      padding: 0 !important;
      outline: none;
    }
  }
  &.owl-loaded {
    display: block; 
  }
  &.owl-loading {
    opacity: 0;
    display: block;
  }
  &.owl-hidden {
    opacity: 0;
  }
  &.owl-refresh {
    .owl-item {
      visibility: hidden;
    }
  }
  &.owl-drag {
    .owl-item {
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  &.owl-grab {
    cursor: move;
    cursor: grab;
  }
  &.owl-rtl {
    direction: rtl;
    .owl-item {
      float: right;
    }
  }
  // No Js
  @at-root .no-js & {
    display: block;
  }

  // Owl Carousel - Animate Plugin
  .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both;
  }
  .owl-animated {
    &-in {
      z-index: 0;
    }
    &-out {
      z-index: 1;
    }
  }
  .fadeOut {
    animation-name: fadeOut;
  }

  // Owl Carousel - Auto Height Plugin
  .owl-height {
    transition: height 500ms ease-in-out;
  }

  // Owl Carousel - Lazy Load Plugin
  .owl-item {
    /**
     * This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
     * calculation of the height of the owl-item that breaks page layouts
     */
    .owl-lazy {
      opacity: 0;
      transition: opacity 400ms ease;
    }
    .owl-lazy[src^=""],
    .owl-lazy:not([src]) {
      max-height: 0;
    }
    img {
      &.owl-lazy {
        transform-style: preserve-3d;
      }
    }
  }

  // Owl Carousel - Video Plugin
  .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
  }
  
  .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    // background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease;
    &:hover {
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
    }
  }
  
  .owl-video-playing {
    .owl-video-tn,
    .owl-video-play-icon {
      display: none;
    }
  }
  
  .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
  }
  
  .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
  