@import "../UI/styles/commons";

.login-view {
  align-items: center;
  background: $light;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  min-width: 320px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  .col-form {
    transition: max-width .5s ease-in-out;
    overflow: hidden;
    max-width: 100%;
    &.inactive {
      max-width: 0;
    }
  }
  .btn-default {
    background-color: $app-content-bg;
    border: 1px solid darken($app-content-bg, 30%);
    text-transform: none;
    max-width: 300px;
    &:hover,
    &:focus {
        border-color: $primary;
        color: $primary;
    }
  }
}