<div class="login-view ng-cloak" ng-if="!$ctrl.$rootScope.logged">
  <div class="col-form col-login" ng-class="{'inactive': $ctrl.state && $ctrl.state != 'login'}">
    <f2p-login-form
      data-submit="$ctrl.login(user, pass)"
    ></f2p-login-form>
    
    <hr />
    <button class="btn btn-block btn-default" ng-click="$ctrl.state = 'join'">{{'login.btns.join'|translate}}</button> 

  </div>

  <div class="col-form col-join" ng-class="{'inactive': !$ctrl.state || $ctrl.state != 'join'}">
    <f2p-join-form>
    </f2p-join-form>
    <hr />
    <button class="btn btn-block btn-default" ng-click="$ctrl.state = 'login'">{{'login.btns.login'|translate}}</button>
  </div>
</div>
