<form class="form" name="formAccessPurchase" ng-submit="$ctrl.save()" novalidate autocomplete="off" ng-init="$ctrl.purchase = []">
    <h3>Marque os sócios e escolha os setores para a compra de acesso</h3>
    
    <div class="row" ng-repeat="partner in $ctrl.partners">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <f2p-input-check
                data-name="{{'partner[' + partner.id + '].check'}}"
                data-model="$ctrl.checks[partner.id]"
                data-description="{{partner.name}}"
                data-label="Nome"
                data-label-class="{{($index > 0) ? 'd-lg-none' : undefined}}"
            ></f2p-input-check>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3" ng-if="$ctrl.checks[partner.id]">
            <div class="form-group">
                <label ng-class="{'d-lg-none': $index > 0}">Produto</label>
                <input type="hidden" name="{{'partner[' + partner.id + '].product'}}" ng-init="$ctrl.purchase[partner.id].product = partner.product" />
                <input type="hidden" name="{{'partner[' + partner.id + '].user'}}" ng-init="$ctrl.purchase[partner.id].user = partner.id" />
                <div>{{partner.product.name}}</div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2" ng-if="$ctrl.checks[partner.id]">
            <div class="form-group">
                <label ng-class="{'d-lg-none': $index > 0}">% Desconto</label>
                <div>{{partner.discount|number}}%</div>
            </div>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2" ng-if="$ctrl.checks[partner.id]">
            <f2p-input-select
                data-model="$ctrl.purchase[partner.id].sector"
                data-name="{{'partner[' + partner.id + '].sector'}}"
                data-label="Setor"
                data-label-class="{{($index > 0) ? 'd-lg-none' : undefined}}"
                data-required="true"
                data-options="$ctrl.sectors"
            ></f2p-input-select>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2" ng-if="$ctrl.checks[partner.id]">
            <f2p-input-select
                data-model="$ctrl.purchase[partner.id].access"
                data-name="{{'partner[' + partner.id + '].access'}}"
                data-label="Acesso"
                data-label-class="{{($index > 0) ? 'd-lg-none' : undefined}}"
                data-required="true"
                data-options="partner.accessWays"
            ></f2p-input-select>
        </div>

        <div class="col-12 d-lg-none">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 col-btn">
            <f2p-submit-button
                data-label="Comprar Acessos"
            ></f2p-submit-button>
        </div>
    </div>
</form>