@import "../../../UI/styles/commons";

.atendimento-cards {
    margin-bottom: 3em;
    .card {
        border: 0;
        border-radius: 1.5em;
        cursor: pointer;
        @include hover-box-shadow();
        margin-bottom: map-get($spacers, 4);
        opacity: .6;
        overflow: hidden;
        .card-body {
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 4.25rem 1.25rem;
            text-align: center;
            @include hover-inset-box-shadow();
        }
        .icon {
            font-size: 3em;
        }
        .card-title {
            font-size: 1.6em;
            margin-top: .5em;
            text-transform: uppercase;
        }
        &.active,
        &:hover {
            box-shadow: 7px 8px 13px rgba(0, 0, 0, 0.2);
            opacity: 1;
            .card-body {
                box-shadow: -11px -21px 40px rgba(0, 0, 0, 0.1) inset;
            }
        }
    }
}

.atendimento-questions {
    .accordion {
        margin-bottom: 3em;
        .card-header {
            cursor: pointer;
            padding-right: 3em;
            position: relative;
            .icon {
                font-size: 1.3em;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translate(0, -50%) rotate(0deg);
                transition: transform .3s ease-in-out;
            }
            &.collapsed {
                .icon {
                    transform: translate(0, -50%) rotate(180deg);
                }
            }
        }
    }
}