<div class="row atendimento-cards">
    <div class="col-12 col-lg-9">
        <h1>{{"attendance.index.title" | translate}}</h1>
        <div class="row">
            <div class="col-12 col-sm-6" ng-repeat="item in $ctrl.itens">
                <div class="card" ng-click="$ctrl.show = item.id" ng-class="{'active': $ctrl.show == item.id}">
                    <div class="card-body">
                        <i class="icon" ng-class="item.icon"></i>
                        <h3 class="card-title">{{item.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row atendimento-questions" ng-repeat="item in $ctrl.itens" ng-show="$ctrl.show == item.id">
    <div class="col-12 col-lg-9" ng-repeat="subitem in item.subcategories">
        <h2 ng-if="subitem.name">{{subitem.name}}</h2>
        <div class="accordion" id="{{'questions'+subitem.id}}">
            
            <div class="card" ng-repeat="item in subitem.items">
                <div class="card-header collapsed" id="{{'heading'+subitem.id+'-'+item.id}}" data-toggle="collapse" data-target="#{{'collapse'+subitem.id+'-'+item.id}}" aria-expanded="true" aria-controls="{{'collapse'+subitem.id+'-'+item.id}}">
                    <h5 class="mb-0">
                        {{item.question}}
                        <i class="icon fas fa-chevron-up"></i>
                    </h5>
                </div>
        
                <div id="{{'collapse'+subitem.id+'-'+item.id}}" class="collapse" aria-labelledby="{{'heading'+subitem.id+'-'+item.id}}" data-parent="#{{'questions'+subitem.id}}">
                    <div class="card-body" ng-bind-html="item.answer | nl2Tag"></div>
                </div>
            </div>

        </div>
    </div>
</div>
