@import "../../UI/styles/commons";

.join-form {
    max-width: 300px;
    .form-title {
        font-weight: 700;
        margin-bottom: 1em;
        padding-bottom: .7em;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 300px;
        &:after {
            background-color: $primary;
            bottom: 0;
            content: '';
            height: .15em;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 5em;
        }
    }
    .form {
        margin-bottom: 1em;
    }
}