<div class="join-form">
  <h3 class="form-title">{{'join.title'|translate}}</h3>
  <form class="form" name="formJoin" ng-submit="$ctrl.join()" novalidate autocomplete="off">
      
    <div class="alert" ng-class="$ctrl.feedbackMsg.class" role="alert" ng-if="$ctrl.feedbackMsg">
      <button type="button" class="close" aria-label="Close" ng-click="$ctrl.setFeedbackMsg(null)">
        <span aria-hidden="true">&times;</span>
      </button>

      {{$ctrl.feedbackMsg.msg|translate}}

    </div>
  </form>
</div>