<div class="user-toast">

  <div class="thumbnail">
    <f2p-user-thumbnail
      data-has-img="$ctrl.user.useImgProfile"
      data-img="$ctrl.user.imgSrc"
      data-alt="$ctrl.user.imgAlt"
    ></f2p-user-thumbnail>
  </div>
  <div class="info">
    <h3 class="name">{{'user.salutation' | translate}}, {{$ctrl.user.name}}</h3>
    <p class="links">
      <a class="account-link" ui-sref="account">{{'user.myaccount' | translate}}</a>
      <a href="" class="logout-link" ng-click="$ctrl.logout()">{{'user.loggouttext' | translate}}</a>
    </p>
  </div>
</div>
