@import "../../../styles/commons";

.user-toast {
    align-items: center;
    display: flex;
    flex-direction: row;
    .thumbnail {
        height: 50px;
        width: 50px;
    }
    .info {
        padding-left: 10px;
        width: calc(100% - 50px);
        .name {
            font-size: 14px;
            margin-bottom: 5px;
        }
        .links {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            a {
                border-right: 1px solid $light;
                color: inherit;
                font-size: 11px;
                padding: 0 1em;
                &.account {}
                &.loggout {}
                &:hover {
                    color: $secondary;
                }
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    border-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
}