<div class="team-versus-text" ng-class="$ctrl.cssClass">
    <div class="home-team">{{$ctrl.homeTeam.teamName}}</div>
    <div class="versus">X</div>
    <div class="visitor-team">{{$ctrl.visitorTeam.teamName}}</div>
</div>