@import "../../../styles/commons";

.team-versus-text {
    align-items: center;
    display: flex;
    font-size: 1.6em;
    font-weight: 600;
    justify-content: center;
    margin: 0;
    text-transform: uppercase;
    .versus {
        margin: 0 .3em;
    }
}

@include media-breakpoint-up(sm) {
} 