<div class="login-form">
  <h3 class="form-title">{{'login.title'|translate}}</h3>
  
  <form class="form" name="formLogin" ng-submit="$ctrl.login()" novalidate autocomplete="off">
      
    <div class="alert" ng-class="$ctrl.feedbackMsg.class" role="alert" ng-if="$ctrl.feedbackMsg">
      <button type="button" class="close" aria-label="Close" ng-click="$ctrl.setFeedbackMsg(null)">
        <span aria-hidden="true">&times;</span>
      </button>

      {{$ctrl.feedbackMsg.msg|translate}}

    </div>

    <div class="row">
      <div class="col dv-collum">

        <div class="fld-step step-username" ng-class="{'inactive': $ctrl.state && $ctrl.state != 'username' && $ctrl.state != 'forgot'}">
          <div class="form-group">
            <label for="cpf">{{'login.username.label'|translate}}</label>
            <input
              required
              ng-model="$ctrl.user" 
              class="form-control"
              ng-class="($ctrl.state == 'forgot') ? 'p-left' : 'p-right'"
              name="username"
              id="username"
              type="tel" autocomplete="off" autocorrect="off" autocapitalize="off" 
              placeholder="{{'login.username.placeholder'|translate}}"
              input-behavior
              data-input-type="cpf">
            
            <button type="button" class="btn btn-verify-username" 
              ng-click="$ctrl.verifyUsername()" 
              ng-class="($ctrl.$scope.formLogin.username.$invalid) ? 'btn-secondary': 'btn-primary'"
              ng-disabled="$ctrl.$scope.formLogin.username.$invalid"
              ng-if="$ctrl.state != 'forgot'">
              <i class="fas fa-arrow-right"></i>
            </button>

            <button type="button" class="btn btn-dark btn-back-to-login"
              ng-if="$ctrl.state == 'forgot'"
              ng-click="$ctrl.state = 'username'">
              <i class="fas fa-arrow-left"></i>
            </button>
  
            <div
              class="ui-validation-message"
              ng-messages="$ctrl.$scope.formLogin.username.$error" 
              ng-if="$ctrl.$scope.formLogin.username.$touched">
              <i class="fas fa-exclamation-circle icon"></i>
              <div ng-messages-include="templates/messages.html"></div>
            </div>

          </div>
          <button type="button" class="btn btn-link btn-forgotpassword"
            ng-if="$ctrl.state != 'forgot'"
            ng-click="$ctrl.state = 'forgot'">{{'login.forgot.link'|translate}}
          </button>
          
          <button class="btn btn-block"
            ng-if="$ctrl.state == 'forgot'"
            ng-click="$ctrl.requestNewPassword()"
            ng-class="($ctrl.$scope.formLogin.username.$invalid) ? 'btn-secondary': 'btn-primary'"
            ng-disabled="$ctrl.$scope.formLogin.username.$invalid">
            {{'login.forgot.submit' | translate}}
          </button>
          
        </div>

        <div class="fld-step step-password" ng-class="{'inactive': $ctrl.state != 'password'}">

          <div class="form-group">
            <label for="password">{{'login.password.label'|translate}}</label>
            <input
              required
              ng-model="$ctrl.pass" 
              class="form-control p-left"
              name="password"
              id="password"
              type="password" autocomplete="off" autocorrect="off" autocapitalize="off" 
              placeholder="{{'login.password.placeholder'|translate}}"
              input-behavior
              data-input-type="password">

            <button type="button" class="btn btn-dark btn-back-to-login"
              ng-click="$ctrl.state = 'username'; $ctrl.pass = null">
              <i class="fas fa-arrow-left"></i>
            </button>

            <div
              class="ui-validation-message"
              ng-messages="$ctrl.$scope.formLogin.password.$error" 
              ng-if="$ctrl.$scope.formLogin.password.$touched">
              <i class="fas fa-exclamation-circle icon"></i>
              <div ng-messages-include="templates/messages.html"></div>
            </div>
          </div>

          <button class="btn btn-block" 
            ng-disabled="$ctrl.state != 'password' || $ctrl.$scope.formLogin.$invalid"
            ng-class="($ctrl.state != 'password' || $ctrl.$scope.formLogin.$invalid) ? 'btn-secondary': 'btn-primary'"
            ng-disabled="$ctrl.$scope.formLogin.username.$invalid" 
            type="submit">{{'login.btns.submit' | translate}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
