@import "../../UI/styles/commons";

.login-form {
    max-width: 300px;
    .form-title {
        font-weight: 700;
        margin-bottom: 1em;
        padding-bottom: .7em;
        position: relative;
        text-align: justify;
        text-transform: uppercase;
        width: 300px;
        &:after {
            background-color: $primary;
            bottom: 0;
            content: '';
            height: .15em;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            width: 5em;
        }
    }
    .form {
        margin-bottom: 1em;
    }
    .dv-collum {
        display: flex;
        overflow: hidden;
    }
    .fld-step {
        transition: width .5s ease-in-out;
        overflow: hidden;
        width: 100%;
        &.inactive {
            // transition: width .5s ease-in-out, height .1s .5s linear;
            width: 0;
        }
        label {
            white-space: nowrap;
        }
        .p-left {
            padding-left: 3em;
        }
        .p-right {
            padding-right: 3em;
        }
        .btn-forgotpassword {
            padding-left: 0;
            padding-right: 0;
        }
        .btn-verify-username,
        .btn-back-to-login {
            bottom: 0;
            position: absolute;
        }
        .btn-verify-username {
            right: 0;
        }
        .btn-back-to-login {
            left: 0;
        }
    }
}