$offset: 187;
$duration: 1.4s;
$dimension: 65px;

$brand-danger: #f00;
$brand-primary: #00f;

.container-loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: 8;
  &.show {
    // height: 100%;
    // width: 100%;
  }
  &.wrng {
    .div-loading {
      .path {
        animation: wrng $duration ease-out 1;
      }
    }
  }
}

.div-loading {
  height: $dimension;
  left: 50%;
  top: -150%;
  margin-left: -($dimension/2);
  position: fixed;
  transition: bottom .2s ease-in-out;
  width: $dimension;
  z-index: 8;
  .spinner {
    animation: rotator $duration linear infinite;
  }
  .path {
    stroke: $brand-primary;
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite,
      colors ($duration*4) ease-in-out infinite;
  }
  &.show {
    top: 45%;
  }
}


@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes wrng {
  0% { stroke: $brand-danger; }
  100% { stroke: $brand-primary; }
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}

@media screen and (min-width: "0 \ 0") {
  .div-loading {
    .spinner {
      animation: spin $duration linear infinite;
    }
    .path {
      stroke-dasharray: 120;
    }
  }
}
