<div class="msg-list">
    <p ng-message="email">{{'validation.email' | translate }}</p>
    <p ng-message="cep">{{'validation.cep' | translate }}</p>
    <p ng-message="cpf">{{'validation.cpf' | translate }}</p>
    <p ng-message="maxlength">{{'validation.maxlength' | translate }}</p>
    <p ng-message="minlength">{{'validation.minlength' | translate }}</p>
    <p ng-message="number">{{'validation.number' | translate }}</p>
    <p ng-message="pattern">{{'validation.pattern' | translate }}</p>
    <p ng-message="parse">{{'validation.parse' | translate }}</p>
    <p ng-message="required">{{'validation.required' | translate }}</p>
    <p ng-message="serverValidation">{{sc.serverValidationError}}</p>
    <p ng-message="max">{{'validation.max' | translate }}</p>
    <p ng-message="date">{{'validation.date' | translate }}</p>
    <p ng-message="nome">{{'validation.nome' | translate }}</p>
    <p ng-message="tel">{{'validation.tel' | translate }}</p>
    <p ng-message="horaInvalida">{{'validation.horaInvalida' | translate }}</p>
    <p ng-message="url">{{'validation.url' | translate }}</p>
    <p ng-message="nomeLength">{{'validation.nomeLength' | translate }}</p>
    <p ng-message="duplicated">{{'validation.duplicated' | translate }}</p>
    <p ng-message="minAs">{{'validation.minAs' | translate }}</p>
    <p ng-message="maxAs">{{'validation.maxAs' | translate }}</p>
    <p ng-message="compare">{{'validation.compare' | translate }}</p>
</div>
      