<div class="select-language">
    <ul class="lang-list">
        <li data-ng-repeat="lang in $ctrl.registeredLangs">
            <a data-ng-click="$ctrl.setLanguage(lang)" data-ng-class="{'active': $ctrl.activeLang == lang }">{{$ctrl.langsTables[lang]}}</a>
        </li>
    </ul>
</div>