<div class="row">
    <div class="col">
        <h1>{{"services.index.title" | translate}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 servicos-cards" ng-repeat="item in $ctrl.itens">
        <f2p-card-service
            data-service="item"
        ></f2p-card-service>

    </div>
</div>

