<div class="card card-game" ng-class="$ctrl.cssClass">
    <div class="card-body">
        <h5 class="card-title">{{$ctrl.game.championship.champName}}</h5>
        <f2p-team-versus-text
            data-home-team="$ctrl.game.homeTeam" 
            data-visitor-team="$ctrl.game.visitorTeam"
        ></f2p-team-versus-text>
        <p class="date">{{$ctrl.game.date | date: ('globals.dates.default'|translate)}}</p>
        <f2p-team-versus
            data-home-team="$ctrl.game.homeTeam" 
            data-visitor-team="$ctrl.game.visitorTeam"
        ></f2p-team-versus>
        <button class="btn btn-lg btn-primary">{{'globals.informations'| translate}}</button>
    </div>
</div>