@import "../../../styles/commons";

.card.card-game {
    border: 0;
    border-radius: 1.5em;
    @include hover-box-shadow();
    margin-bottom: map-get($spacers, 4);
    overflow: hidden;

    .card-body {
        @include hover-inset-box-shadow();
        .card-title {
            color: $gray-700;
            text-transform: uppercase;
        }
        .date {
            color: $gray-700;
            text-transform: lowercase;
            &:first-letter {
                text-transform: uppercase;
            }
        }
        .team-versus {
            margin-bottom: 1em;
        }
        .btn {
            text-transform: lowercase;
        }
    }

}

@include media-breakpoint-up(sm) {
} 