<div class="form-group" ng-class="$ctrl.containerClass" >
    <label for="{{$ctrl.name}}" ng-if="$ctrl.label" ng-class="$ctrl.labelClass">{{$ctrl.label}}</label>
    
    <select 
        class="form-control"
        id="{{$ctrl.name}}"
        name="{{$ctrl.name}}"
        ng-model="$ctrl.model"
        ng-options="option.name for option in $ctrl.options track by option.id"
        ng-required="$ctrl.required"
        input-behavior>
    </select>
    
    <div
        class="ui-validation-message"
        ng-messages="$ctrl.form[$ctrl.name].$error" 
        ng-if="$ctrl.form[$ctrl.name].$touched">
        <i class="fas fa-exclamation-circle icon"></i>
        <div ng-messages-include="templates/messages.html"></div>
    </div>
</div>