<form class="form" name="formPassword" ng-submit="$ctrl.onSave()" novalidate autocomplete="off">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-3">
            <f2p-input-text
                data-model="$ctrl.oldPass"
                data-name="oldPass"
                data-label="Senha atual"
                data-placeholder="digite sua senha"
                data-required="true"
                data-input-type="password"
                data-autocomplete="current-password"
            ></f2p-input-text>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-3">
            <f2p-input-text
                data-model="$ctrl.pass"
                data-name="pass"
                data-label="Nova senha"
                data-placeholder="digite sua senha"
                data-required="true"
                data-input-type="password"
                data-autocomplete="new-password"
            ></f2p-input-text>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-3">
            <f2p-input-text
                data-model="$ctrl.confirmPass"
                data-name="confirmPass"
                data-label="Confirme a senha"
                data-placeholder="digite sua senha"
                data-required="true"
                data-input-type="password"
                data-compare-with="$ctrl.pass"
                data-autocomplete="new-password"
            ></f2p-input-text>
        </div>
    </div>

    <div class="row">
        <div class="col col-btn">
            <button type="reset" ng-click="$ctrl.onCancel()" class="btn btn-default">Cancelar</button>
            <f2p-submit-button
                data-label="Enviar"
            ></f2p-submit-button>
        </div>
    </div>
</form>
