@import "../../../styles/commons";

.team-versus {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    .team-shield {
        width: 80px;
        img {
            display: block;
            width: 100%;
        }
    }
    .versus {
        font-size: 40px;
        font-weight: 700;
        margin: 0 .25em;
        &:before {
            content: 'X';
        }
    }
}

@include media-breakpoint-up(sm) {
} 