<div class="team-versus" ng-class="$ctrl.cssClass">
    <span class="team-shield">
        <img ng-src="{{$ctrl.homeTeam.teamImage}}" alt="{{$ctrl.homeTeam.teamName}}">
    </span>
    <span class="versus"></span>
    <span class="team-shield">
        <img ng-src="{{$ctrl.visitorTeam.teamImage}}" alt="{{$ctrl.visitorTeam.teamName}}">
    </span>
</div>