<form class="form" name="formAccess" ng-submit="$ctrl.save()" novalidate autocomplete="off">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <div class="form-group">
                <label for="">Assinatura</label>
                <div>{{$ctrl.userInfo.subscription.name}}</div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <f2p-input-text
                data-model="$ctrl.newUserCpf"
                data-name="accessUserCpf"
                data-label="CPF do Utilizador"
                data-placeholder="xxx.xxx.xxx-xx"
                data-required="true"
                data-input-type="cpf"
            ></f2p-input-text>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <f2p-input-text
                data-model="$ctrl.newUserName"
                data-name="accessUserName"
                data-label="Nome do Utilizador"
                data-placeholder="Digite o nome"
                data-required="true"
                data-input-type="text"
            ></f2p-input-text>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <f2p-input-select
                data-model="$ctrl.sector"
                data-name="accessSector"
                data-label="Setor"
                data-required="true"
                data-options="$ctrl.sectors"
            ></f2p-input-select>
        </div>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <div class="form-group">
                <label for="">Valor</label>
                <div>{{($ctrl.sector.transferPrice || 0) | currency}}</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-1 col-btn">
            <label class="d-none d-sm-block">&nbsp;</label>
            <f2p-submit-button
                data-label="Avançar"
            ></f2p-submit-button>
        </div>
    </div>
</form>