@import "../../styles/commons";

.header {
    background-color: $header-bg;
    color: $header-cl;
    padding: map-get($spacers, 2) 0;
    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .al {
        &-left,
        &-right {
            align-items: center;
            display: flex;
        }

        &-left {
            justify-content: start;
            padding-right: map-get($spacers, 1);
        }
        &-right {
            justify-content: end;
            padding-left: map-get($spacers, 1);
        }
    }
    .app {
        &-brand {
            background: center no-repeat;
            background-size: contain;
            margin-right: map-get($spacers, 3);
        }
        &-user {
            margin-right: map-get($spacers, 3);
        }
    }
}

// Desktop Breakpoint
@include media-breakpoint-up(lg) { 
    .header {
        .app {
            &-brand {
                background-image: url($logo-url);
                height: $logo-height;
                width: $logo-width;
            }
        }
    }
}

// Mobile Breakpoint
@include media-breakpoint-down(md) {
    .header {
        padding-left: 0;
        width: calc(100vw - 50px);
        .container {
            max-width: initial;
            padding-left: 0;
        }
        .app {
            &-brand {
                background-image: url($logo-mobi-url);
                height: $logo-mobi-height;
                width: $logo-mobi-width;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .header {
        .app {
            &-social {
                display: none;
            }
        }
    }
}