<div class="header">
    <div class="container">
        <div class="al-left">
            <div class="app-brand"></div>
            <div class="app-user">
                <f2p-user-toast></f2p-user-toast>
            </div>

            <div class="app-basket">
                <f2p-cart-icon></f2p-cart-icon>
            </div>
        </div>

        <div class="al-right">
            <div class="app-social">
                <f2p-social></f2p-social>
            </div>

            <div class="app-languages" ng-if="$ctrl.showLanguage">
                <f2p-select-lang></f2p-select-lang>
            </div>

            <div class="app-search"></div>
        </div>
    </div>
</div>