<form ng-show="$ctrl.showNew || !$ctrl.contactData || $ctrl.contactData.length <= 0" class="form form-new-contact" name="formNewContact" ng-submit="$ctrl.addContact()" novalidate autocomplete="off">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="row">
                <div class="col">
                    <f2p-input-select
                        data-model="$ctrl.newItem.type"
                        data-name="newContactType"
                        data-label="Tipo"
                        data-required="true"
                        data-options="$ctrl.contactTypes"
                    ></f2p-input-select>
                </div>
        
                <div class="col">
                    <f2p-input-text
                        data-model="$ctrl.newItem.value"
                        data-name="newContactValue"
                        data-label="{{'globals.types.' + ($ctrl.newItem.type.type) + '.label' | translate}}"
                        data-placeholder="{{'globals.types.' + $ctrl.newItem.type.type + '.placeholder' | translate}}"
                        data-input-type="{{$ctrl.newItem.type.type || 'text'}}"
                        data-required="true"
                    ></f2p-input-text>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-btn">
                    <button type="button" ng-click="$ctrl.cancelNewContact()" class="btn btn-default">Cancelar</button>
                    <f2p-submit-button
                        data-label="Adcionar"
                    ></f2p-submit-button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</form>

<form class="form form-contact" name="formContact" ng-submit="$ctrl.onSave()" novalidate autocomplete="off">
    <div class="row" ng-repeat="contact in $ctrl.contactData">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
            <div class="row">
                <div class="col-5">
                    <f2p-input-select
                        data-model="contact.type"
                        data-name="{{'contact[' + contact.id + '].type'}}"
                        data-label="Tipo"
                        data-required="true"
                        data-options="$ctrl.contactTypes"
                    ></f2p-input-select>
                </div>
        
                <div class="col-5 col-sm-6">
                    <f2p-input-text
                        data-model="contact.value"
                        data-name="{{'contact[' + contact.id + '].value'}}"
                        data-label="{{'globals.types.' + contact.type.type + '.label' | translate}}"
                        data-placeholder="{{'globals.types.' + contact.type.type + '.placeholder' | translate}}"
                        data-input-type="{{contact.type.type}}"
                        data-required="true"
                    ></f2p-input-text>
                </div>

                <div class="col px-0">
                    <label class="d-block">&nbsp;</label>
                    <button type="button" class="btn btn-danger mx-0 btn-icon" ng-click="$ctrl.deleteContact(contact, $index)"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>

            <hr>

        </div>
    </div>

    <div class="row" ng-show="$ctrl.contactData && $ctrl.contactData.length">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 col-btn">
            <button type="button" ng-click="$ctrl.onCancel()" class="btn btn-default">Cancelar</button>
            <f2p-submit-button
                data-label="Enviar"
            ></f2p-submit-button>
        </div>
    </div>
</form>