@import "../../../styles/commons";

f2p-user-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}
.user-thumbnail {
    border-radius: 50%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    img {
        display: block;
        height: auto;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
}