@import '../custom';
@import './UI/styles/commons';
@import "~bootstrap/scss/bootstrap";

a {
    text-decoration: none;
    @include transition(all .3s ease-in-out);
    &:hover {
        text-decoration: none;
    }
}

.z-index-all {
    z-index: $zindex-tooltip;
}
html, body {
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.app-content {
    background-color: $app-content-bg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    .container {
        padding-top: map-get($spacers, 4);
    }
    h1 {
        font-weight: 700;
        margin-bottom: 1em;
        padding-bottom: .7em;
        position: relative;
        text-transform: uppercase;
        &:after {
            background-color: $primary;
            bottom: 0;
            content: '';
            height: .15em;
            left: 0;
            position: absolute;
            width: 5em;
        }
        &.text-center {
            &:after {
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    h2 {
        text-transform: uppercase;
        margin-bottom: .8em;
    }
}

.btn {
    text-transform: lowercase;
}
  

// Desktop
@include media-breakpoint-up($query-breakpoint-up) {
    .app-content {
        height: calc(100vh - 132px);
    }
}
// Mobile
@include media-breakpoint-down($query-breakpoint-down) {
    .app-header {
        background-color: $menu-bg;
        display: flex;
        flex-direction: row-reverse;
        height: 70px;
        z-index: 10;
    }
    .app-content {
        height: calc(100vh - 70px);
        h1 {
            font-size: 4vw;
        }
    }
}

@include media-breakpoint-down(sm) {
    .app-content {
        h1 {
            font-size: 6vw;
        }
    }
}