<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Clube de sócios da Cercred">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="AnguPack">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="AnguPack">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="msapplication-TileImage" content="icons/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#131313">
  <meta name="msapplication-config" content="browserconfig.xml">
  <meta name="theme-color" content="#131313">

  <meta name="msapplication-square70x70logo" content="icons/icon-70x70.png"/>
  <meta name="msapplication-square150x150logo" content="icons/icon-150x150.png"/>
  <meta name="msapplication-wide310x150logo" content="icons/icon-310x150.png"/>
  <meta name="msapplication-square310x310logo" content="icons/icon-310x310.png"/>
  
  <title>AnguPack</title>

  <link rel="manifest" href="manifest.json">
  
  <link rel="apple-touch-icon" href="icons/icon-120x120.png">
  <link rel="apple-touch-icon" size="120x120" href="icons/icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="icons/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="icons/icon-180x180.png">
  <link rel="apple-touch-icon" sizes="192x192" href="icons/icon-192x192.png">
  
  <link rel="icon" type="image/png" sizes="16x16" href="icons/icon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/icon-32x32.png">
  <link rel="icon" type="image/png" sizes="128x128" href="icons/icon-128x128.png">
  <link rel="icon" type="image/png" sizes="192x192" href="icons/icon-192x192.png">

  <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#131313">
  <link rel="shortcut icon" href="favicon.ico">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <style>
    .ng-cloak {opacity: 0;}
    html,body {margin: 0; padding: 0;}
    .preview {
      background: #000 url('icons/icon-128x128.png') center center no-repeat;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 50;
    }
  </style>
</head>
<body class="ng-cloak">
  <header class="app-header">
    <f2p-header data-show-language="true"></f2p-header>
    <nav class="app-nav">
      <f2p-menu data-type="'left-menu'" data-css-id="'main-menu'"></f2p-menu>
    </nav>
  </header>

  <main class="app-content">
    <div class="content-top">
      <div class="app-last-games" ng-if="actualPage == 'home' || actualPage == 'checkin'">
        <f2p-next-game data-page="actualPage"></f2p-next-game>
      </div>
  
      <div class="container">
        <ui-view></ui-view>
      </div>
    </div>
    
    <footer class="app-footer">
      <f2p-footer></f2p-footer>
    </footer>
  </main>

  <f2p-login class="fixed-top w-100 z-index-all"></f2p-login>
  <div class="preview" ng-if="!logged"></div>
  <loading-spinner class="container-loading"></loading-spinner>
</body>
</html>
