@import "../../../styles/commons";

.next-game {
    background-color: $dark;
    color: $white;
    text-align: center;
    .container {
        padding-bottom: 2em;
        h1 {
            margin: 0;
            padding: 0;
            &:after {
                display: none;
            }
        }
    }
    
    .date {
        font-size: 1em;
    }
    .btn {
        margin-top: 2em;
    }
}