<div class="next-game">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{$ctrl.game.championship.champName}}</h1>
                <p class="date">{{$ctrl.game.date | date:('globals.dates.default'|translate)}}</p>
                <f2p-team-versus
                    data-home-team="$ctrl.game.homeTeam" 
                    data-visitor-team="$ctrl.game.visitorTeam"
                ></f2p-team-versus>
                <button
                    ng-if="$ctrl.page != 'checkin'"
                    class="btn btn-lg btn-primary"
                    ng-click="$ctrl.doCheckin()"
                >{{'globals.docheckin'|translate}}</button>
            </div>
        </div>
    </div>
</div>